snippet babe "Babe definition" b
genes(${1:name}, ${2:ethnicity}, ${3:hair_color}, ${4:eye_color}).
${5:nationality}($1).
birth_year($1, ${6:year of birth}).
boobs($1, ${7:boobtype}, ${8:boobsize_number}, ${0:boobsize_letter}).
endsnippet
